 #main-transition {  
  /*font-size: 80%;*/    
  /*width: 80%;*/
  margin-left:auto;
  margin-right: auto;  
  /*height: 600px;*/
  text-align: center;
  position: relative;
  max-width: none;
  max-height: none;
  border: #DDDDDD 1px solid;
}

.transition-area {
  position: relative;
  width:100%;
  background-color:white;    
  overflow:auto;  
 /*margin-top: 53px;*/
  /*margin-bottom:25px;*/
  height: 600px;
}

.transition-class { 	
	padding:10px;
	position:absolute;
	/*z-index:4;*/
	border-radius:1em;
	border:2px solid orange;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius:8px;
	border-radius:8px;
	/*opacity:0.8;*/
	filter:alpha(opacity=80);
	cursor:move;
	background-color:white;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;	
}

.transition-class:hover {
	background-color: #5c96bc;
	color:white;
}

.tool-transition-class { 	
	text-align: center;
	padding:2px;
	border-radius:1em;
	border:2px solid orange;
	-moz-border-radius:8px;
	border-radius:8px;
	/*opacity:0.8;*/
	filter:alpha(opacity=80);
	cursor:move;
	background-color:white;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;	
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tool-transition-class:hover {
	background-color: #5c96bc;
	color:white;
}

.aLabel {
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
}

.aLabel._jsPlumb_hover, ._jsPlumb_source_hover, ._jsPlumb_target_hover {
	background-color:#1e8151;
	color:white;
}

.aLabel {
	background-color:white;
	opacity:0.8;
	padding:0.3em;				
	border-radius:0.5em;
	border:1px solid #346789;
	cursor:pointer;
}

.ep {
	position:absolute;
	bottom: 37%;
	right: 5px;
	width:1em;
	height:1em;
	background-color:orange;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}

.ep:hover {
	box-shadow: 0px 0px 6px black;
}

.dragHover { border:2px solid orange; }

path { cursor:pointer; }
